h3 Facebook Login or Register
    form(action='/register_or_login_through_facebook', method='post')
        | fbid :
        input(type='text', name='fbid')
        | fbaccesstoken :
        input(type='text', name='fbaccesstoken')
        | firstname :
        input(type='text', name='firstname')
        | lastname :
        input(type='text', name='lastname')
        | email :
        input(type='text', name='email')
        | gender :
        input(type='text', name='gender')
        | age :
        input(type='text', name='age')
        | usertype :
        input(type='text', name='usertype')
        | devicetoken :
        input(type='text', name='devicetoken')
        | work :
        input(type='text', name='work')
        | login_type :
        input(type='text', name='login_type')
        | wait_code :
        input(type='text', name='wait_code')
        input(type='submit')
    h3 Access Token Login
        form(action='/login_through_accesstoken', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | devicetoken :
            input(type='text', name='devicetoken')
            input(type='submit')
    h3 Create new user trip
        form(action='/create_new_user_trip', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | tripname :
            input(type='text', name='tripname')
            | startlatitude :
            input(type='text', name='startlatitude')
            | startlongitude :
            input(type='text', name='startlongitude')
            | endlatitude :
            input(type='text', name='endlatitude')
            | endlongitude :
            input(type='text', name='endlongitude')
            | profile :
            input(type='text', name='profile')
            | routeid :
            input(type='text', name='routeid')
            | routerstring :
            input(type='text', name='routestring')
            | minage :
            input(type='text', name='minage')
            | maxage :
            input(type='text', name='maxage')
            | defaulttrip :
            input(type='text', name='defaulttrip')
            | routedata :
            input(type='text', name='routedata')
            | starttripstring :
            input(type='text', name='starttripstring')
            | endtripstring :
            input(type='text', name='endtripstring')
            | pickradiusfromstarting :
            input(type='text', name='pickradiusfromstarting')
            | dropradiusfromending :
            input(type='text', name='dropradiusfromending')
            | routeradius :
            input(type='text', name='routeradius')
            | showgender :
            input(type='text', name='showgender')
            | distance :
            input(type='text', name='distance')
            input(type='submit')
    h3 Get all user matches
        form(action='/get_all_user_matches', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | fbaccesstoken :
            input(type='text', name='fbaccesstoken')
            input(type='submit')
    h3 Hytch or dytch user based on matches
        form(action='/hytch_or_dytch_user_based_on_matches', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | tripid :
            input(type='text', name='tripid')
            | usertripid :
            input(type='text', name='usertripid')
            | userid :
            input(type='text', name='userid')
            | username :
            input(type='text', name='username')
            | type :
            input(type='text', name='type')
            input(type='submit')
    h3 Get all user conversation
        form(action='/get_all_user_conversation', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | fbaccesstoken :
            input(type='text', name='fbaccesstoken')
            input(type='submit')
    h3 Send new message
        form(action='/send_new_message', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | userid :
            input(type='text', name='userid')
            | chatid :
            input(type='text', name='chatid')
            | message :
            input(type='text', name='message')
            | messagetype :
            input(type='text', name='messagetype')
            input(type='submit')
    h3 Get unread messages
        form(action='/get_unread_messages', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | userid :
            input(type='text', name='userid')
            input(type='submit')
    h3 Get all messages
        form(action='/get_all_messages', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | userid :
            input(type='text', name='userid')
            input(type='submit')
    h3 Edit or delete user trip
        form(action='/edit_or_delete_user_trip', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | tripname :
            input(type='text', name='tripname')
            | startlatitude :
            input(type='text', name='startlatitude')
            | startlongitude :
            input(type='text', name='startlongitude')
            | endlatitude :
            input(type='text', name='endlatitude')
            | endlongitude :
            input(type='text', name='endlongitude')
            | profile :
            input(type='text', name='profile')
            | routeid :
            input(type='text', name='routeid')
            | routerstring :
            input(type='text', name='routestring')
            | starttripstring :
            input(type='text', name='starttripstring')
            | endtripstring :
            input(type='text', name='endtripstring')
            | minage :
            input(type='text', name='minage')
            | maxage :
            input(type='text', name='maxage')
            | defaulttrip :
            input(type='text', name='defaulttrip')
            | tripid :
            input(type='text', name='tripid')
            | type :
            input(type='text', name='type')
            input(type='submit')
    h3 Get All user trip
        form(action='/get_all_user_trips', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            input(type='submit')
    h3 Update user app settings
        form(action='/update_user_app_settings', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | newmatches :
            input(type='text', name='newmatches')
            | messages :
            input(type='text', name='messages')
            | locationsharing :
            input(type='text', name='locationsharing')
            | pushnotification :
            input(type='text', name='pushnotification')
            | profilerating :
            input(type='text', name='profilerating')
            input(type='submit')
    h3 Delete user account
        form(action='/delete_user_account', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            input(type='submit')
    h3 Rate user partner during conversation
        form(action='/rate_user_partner_during_conversation', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | userid :
            input(type='text', name='userid')
            | rate :
            input(type='text', name='rate')
            | type :
            input(type='text', name='type')
            input(type='submit')
    h3 Check location during conversation
        form(action='/check_location_during_conversation', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | userid :
            input(type='text', name='userid')
            input(type='submit')
    h3 Get User profile data
        form(action='/get_user_profile_data', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | fbaccesstoken :
            input(type='text', name='fbaccesstoken')
            input(type='submit')
    h3 Edit User profile data
        form(action='/edit_user_profile_data', method='post',enctype='multipart/form-data')
            | accesstoken :
            input(type='text', name='accesstoken')
            | gender :
            input(type='text', name='gender')
            | about :
            input(type='text', name='about')
            | userimage:
            input(type='file', multiple name='userimage')
            | filestatus:
            input(type='text', multiple name='filestatus')
            | newuserimage:
            input(type='file', multiple name='newuserimage')
            | newfilestatus:
            input(type='text', multiple name='newfilestatus')
            | imageid:
            input(type='text', multiple name='imageid')
            input(type='submit')
    h3 Update user current location
        form(action='/update_user_current_location', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | latitude :
            input(type='text', name='latitude')
            | longitude :
            input(type='text', name='longitude')
            | location_accuracy :
            input(type='text', name='location_accuracy')
            input(type='submit')
    h3 Save trip as default
        form(action='/save_trip_as_default', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | profile :
            input(type='text', name='profile')
            | tripid :
            input(type='text', name='tripid')
            input(type='submit')
    h3 Add or remove card from user profile
        form(action='/add_or_remove_card_from_user_profile', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | stripetoken :
            input(type='text', name='stripetoken')
            | card :
            input(type='text', name='card')
            | id :
            input(type='text', name='id')
            | type :
            input(type='text', name='type')
            input(type='submit')
    h3 Mark user card as default card
        form(action='/mark_user_card_as_default', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | id :
            input(type='text', name='id')
            input(type='submit')
    h3 Enable disable location sharing during conversation
        form(action='/enable_disable_location_sharing_during_conversation', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | userid :
            input(type='text', name='userid')
            input(type='submit')
    h3 dashboard
        form(action='/dashboard', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | type :
            input(type='text', name='type')
            input(type='submit')
    h3 All users
        form(action='/allusers', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            input(type='submit')
    h3 Get user details
        form(action='/userdetails', method='post')
            | userid :
            input(type='text', name='userid')
            input(type='submit')
    h3 Authenticate trip name
        form(action='/authenticate_trip_name', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | tripname :
            input(type='text', name='tripname')
            input(type='submit')
    h3 All users paginated
        form(action='/alluserspaginated', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | offset :
            input(type='text', name='offset')
            | type :
            input(type='text', name='type')
            | profile :
            input(type='text', name='profile')
            input(type='submit')
    h3 Get user latest feed
        form(action='/get_user_latest_feed', method='post')
            | userid :
            input(type='text', name='userid')
            input(type='submit')
    h3 Get login for admin
        form(action='/get_login_for_admin', method='post')
            | email :
            input(type='text', name='email')
            | password :
            input(type='text', name='password')
            input(type='submit')
    h3 Make Payment
        form(action='/make_payment_for_trip', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | userid :
            input(type='text', name='userid')
            | username :
            input(type='text', name='username')
            | customerid :
            input(type='text', name='customerid')
            | amount :
            input(type='text', name='amount')
            input(type='submit')
    h3 Update user secret key for payment
        form(action='/update_user_secret_key_for_payment', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | secretkey :
            input(type='text', name='secretkey')
            input(type='submit')
    h3 Update user password
        form(action='/update_user_password', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | oldpassword :
            input(type='text', name='oldpassword')
            | newpassword :
            input(type='text', name='newpassword')
            input(type='submit')
    h3 Get all latest feed
        form(action='/get_all_latest_feed', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            input(type='submit')
    h3 Get graph for all trips
        form(action='/get_graph_for_all_trips', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | type :
            input(type='text', name='type')
            input(type='submit')
    h3 Get all user trips
        form(action='/get_all_user_trips_admin', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            input(type='submit')
    h3 Get trip date through trip id
        form(action='/get_trip_data_through_tripid', method='post')
            | tripid :
            input(type='text', name='tripid')
            input(type='submit')
    h3 Get mutual intrest and friends(userid comma separated)
        form(action='/get_mutual_interest_and_friends', method='post')
            | userid :
            input(type='text', name='userid')
            input(type='submit')
    h3 Forgot password
        form(action='/forgot_password', method='post')
            | email :
            input(type='text', name='email')
            input(type='submit')
    h3 Get graph for all payments
        form(action='/get_graph_for_all_payments', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | type :
            input(type='text', name='type')
            input(type='submit')
    h3 Get all user payments
        form(action='/get_all_user_payments', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            input(type='submit')
    h3 Get user data for maps
        form(action='/get_user_data_for_maps', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            input(type='submit')
    h3 Update user invitations from facebook
        form(action='/update_user_invitations_from_facebook', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            | fbids :
            input(type='text', name='fbids')
            | fbnames :
            input(type='text', name='fbnames')
            input(type='submit')
    h3 Send mail to user
        form(action='/send_mail_to_user', method='post')
            | to :
            input(type='text', name='to')
            | subject :
            input(type='text', name='subject')
            | messagebody :
            input(type='text', name='messagebody')
            input(type='submit')
    h3 Get all promocode
        form(action='/get_all_promocode', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            input(type='submit')
    h3 Get promocode details through id
        form(action='/get_promocode_details_through_id', method='post')
            | id :
            input(type='text', name='id')
            input(type='submit')
    h3 Create or Update promocode details through id
        form(action='/create_or_update_promocode_details_through_id', method='post')
            | id :
            input(type='text', name='id')
            | name :
            input(type='text', name='name')
            | value :
            input(type='text', name='value')
            | location :
            input(type='text', name='location')
            | valid_from :
            input(type='text', name='validfrom')
            | valid_upto:
            input(type='text', name='validupto')
            | type:
            input(type='text', name='type')
            input(type='submit')
    h3 delete promocode details through id
        form(action='/delete_promocode_details_through_id', method='post')
            | id :
            input(type='text', name='id')
            input(type='submit')
    h3 Verify promocode
        form(action='/verify_promocode', method='post')
            | promocode :
            input(type='text', name='promocode')
            input(type='submit')
    h3 test array
        form(action='/test_array', method='post')
            | interval :
            input(type='text', name='interval')
            input(type='submit')
    h3 Get user logout from app
        form(action='/get_user_logged_out_from_app', method='post')
            | accesstoken :
            input(type='text', name='accesstoken')
            input(type='submit')
    h3 Blocked or unblocked user
        form(action='/blocked_or_unblock_user', method='post')
            | access_token :
            input(type='text', name='access_token')
            | blocked_id :
            input(type='text', name='blocked_id')
            | flag :
            input(type='text', name='flag')
            input(type='submit')
    h3 Get all blocked user
        form(action='/get_all_blocked_user', method='post')
            | access_token :
            input(type='text', name='access_token')
            | fb_access_token :
            input(type='text', name='fb_access_token')
            input(type='submit')
    h3 Register user through web
        form(action='/register_user_through_web', method='post')
            | name :
            input(type='text', name='name')
            | email :
            input(type='text', name='email')
            | phone :
            input(type='text', name='phone')
            | work_address_latitude :
            input(type='text', name='work_address_latitude')
            | work_address_longitude :
            input(type='text', name='work_address_longitude')
            | work_address_location_string :
            input(type='text', name='work_address_location_string')
            | home_address_latitude :
            input(type='text', name='home_address_latitude')
            | home_address_longitude :
            input(type='text', name='home_address_longitude')
            | home_address_location_string :
            input(type='text', name='home_address_location_string')
            input(type='submit')
    h3 Update user ride information
        form(action='/update_user_ride_information', method='post')
            | access_token :
            input(type='text', name='access_token')
            | user_id :
            input(type='text', name='user_id')
            | driver_start_latitude :
            input(type='text', name='driver_start_latitude')
            | driver_start_longitude :
            input(type='text', name='driver_start_longitude')
            | driver_start_location_string :
            input(type='text', name='driver_start_location_string')
            | ride_status :
            input(type='text', name='ride_status')
            | ride_id
            input(type='text', name='ride_id')
            | rating
            input(type='text', name='rating')
            input(type='submit')
    h3 Update rider pickup location
        form(action='/update_rider_pickup_location', method='post')
            | access_token :
            input(type='text', name='access_token')
            | driver_id :
            input(type='text', name='driver_id')
            | rider_pickup_latitude :
            input(type='text', name='rider_pickup_latitude')
            | rider_pickup_longitude :
            input(type='text', name='rider_pickup_longitude')
            | rider_pickup_location_string :
            input(type='text', name='rider_pickup_location_string')
            | route_string_location
            input(type='text', name='route_string_location')
            | ride_status
            input(type='text', name='ride_status')
            input(type='submit')
    h3 Get user ride history
        form(action='/get_user_ride_history', method='post')
            | access_token :
            input(type='text', name='access_token')
            input(type='submit')
    h3 Create admin
        form(action='/create_admin', method='post')
            | name :
            input(type='text', name='name')
            | email :
            input(type='text', name='email')
            | password :
            input(type='text', name='password')
            input(type='submit')
    h3 Get all wait list user
        form(action='/get_all_wait_list_user', method='post')
            | access_token :
            input(type='text', name='access_token')
            input(type='submit')
    h3 Create or edit admin card
        form(action='/create_or_update_admin_card', method='post')
            | access_token :
            input(type='text', name='access_token')
            | stripe_token :
            input(type='text', name='stripe_token')
            | updated_id :
            input(type='text', name='updated_id')
            | type :
            input(type='text', name='type')
            input(type='submit')
h3 Get admin card details
    form(action='/get_admin_card_details', method='post')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit')
h3 Clear user wait list
    form(action='/clear_user_wait_list', method='post')
        | access_token :
        input(type='text', name='access_token')
        | start_index :
        input(type='text', name='start_index')
        | limit :
        input(type='text', name='limit')
        | type :
        input(type='text', name='type')
        input(type='submit')
h3 Get all ride history
    form(action='/get_all_ride_history', method='post')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit')